Flask
Flask-SQLAlchemy
SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
WTForms
Flask-Bcrypt
bcrypt  
python-dotenv
psycopg2-binary
gunicorn
Pillow
pandas
openpyxl
reportlab
python-dateutil
email-validator
Flask-APScheduler
